.card--service {
    position: relative;
    width: 170px;
    height: 170px;
    padding: 0;
    border: none;
}

.card--service img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card--service h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: #FFD20A;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.grid--services {
    grid-template-columns: repeat(3, 1fr);
}

.section#services {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .section#services {
        flex-direction: column;
    }

    .grid--services {
        grid-template-columns: repeat(2, 1fr);
    }
}


.section#contact .field input,
.section#contact .field textarea {
    background-color: white;
    color: black;
}
